{% extends "admin/base.html" %} 
{% block content %}
 <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Manage Vocabulary</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
              <li class="breadcrumb-item active">Vocabulary</li>
            </ol>
            <div>
      <div class="d-flex justify-content-between align-items-center pt-5">
        <h2>Table vocabulary</h2>
        <a href="/admin/vocabulary/create" class="btn btn-primary">Create a vocabulary</a>
      </div>

      <hr />
      <div class="pt-3">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Word</th>
              <th>Meaning</th>
              <th>Phonetic</th>
              <th>word_type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for vocab in vocabulary_list %}
              <tr>
                <th>{{ vocab.id }}</th>
                <td>{{ vocab.word }}
                  <button type="button" class="btn btn-outline-primary btn-sm ms-2"  onclick="speak('{{ vocab.word }}')"><i class="fa-solid fa-volume-high"></i></button>
                </td>              
                <td>{{ vocab.meaning }}</td>
                <td>{{ vocab.phonetic }}</td>
                <td>{{ vocab.word_type }}</td>
                <td>
                  <a href="/admin/vocabulary/update/{{ vocab.id }}" type="button" class="btn btn-warning">Update</a>
                  <a href="/admin/vocabulary/delete/{{ vocab.id }}" type="button" class="btn btn-danger">Delete</a>
                </td>
              </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>
          </div>
        </main>

{% endblock %}