<!-- Language -->

<div class="language">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="language_slider_container">
          <div class="owl-carousel owl-theme language_slider">
            {% for topic in topics %}
            <div class="owl-item language_item">
              <a href="{{ url_for('client.vocabularyByTopic', id=topic.id) }}">
                <div class="flag">
                  {% if topic.image %}
                  <img src="{{ url_for('static', filename='uploads/topics/' ~ topic.image) }}" alt="{{ topic.name }}" />
                  {% else %}
                  <img src="{{ url_for('static', filename='images/default.png') }}" alt="default" />
                  {% endif %}
                </div>

                <div class="lang_name text-center mt-2">
                  <strong>{{ topic.name }}</strong>
                  <div class="small text-muted">{{ topic.vocabularies|length }} words</div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

          <div class="lang_nav lang_prev">
            <i class="fa fa-angle-left"></i>
          </div>
          <div class="lang_nav lang_next">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
